:host {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

*{
  height: 100%;
}

.header {
  width: 100%;
  background-color: var(--tui-background-base-alt);
  //background-color: #ECECEC;
}

.main {
  background: #fff2e2;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
