:host {
  display: block;
  margin: 0 auto;
  //   padding: 0 1rem;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: var(--tui-background-base-alt);
}

.main {
  padding: 0 1rem 1rem 1rem;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px
}
